/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic-ext,latin-ext');
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14;
}
.fs-16{
    font-size: 16;
}
.fs-18{
    font-size: 18;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fs-28{
    font-size: 28px;
}
.fs-30{
    font-size: 30px;
}
/*Font Awesome*/
.info-fa{
    color: #6A1B9A;
    padding-top: 5px;
}
/*BACKGROUNDS*/
body{
    background-color: #FAFAFA;
    font-family: 'PT Serif', serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'PT Serif', serif;
}
.h1, h1{
  font-size: 50px;
}
.content{
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}

/**Bootstrap*/
.container{
  width: 100%;
}
.navbar-nav{
    margin: 14px 5px;
}
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-header .close{
    margin-top: -35px;
}
/**Datatables**/
.dataTables_scrollBody{
	height: 700px !important;
}
.dt-buttons{
	display: block;
}
.dt-buttons .show-hide-button{
    background-color: #157fcc;
    color: #fff;
    padding: 5px;
    margin: 4px;
    margin-left: 5px !important;
    border-radius: 5px !important;
}
.dt-buttons .export-button{
    float: right;
    background-color: #157fcc;
    color: #fff;
    padding: 5px;
    margin: 4px;
    margin-left: 5px !important;
    border-radius: 5px !important;
}
.dataTables_filter{
    background-color: #cecece;
    border-radius: 2px;
    height: 40px;
}
div.dataTables_wrapper div.dataTables_filter label{
    margin-top: 5px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    bottom: 4px !important;
    content:"\e150" !important;
}
.display thead tr th {
	font-size: 13px;
	font-weight: 600;
	color: #666;

}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
    top: 5px !important;
    height: 12px !important;
    width: 12px !important;
}
table.dataTable thead .sorting:after{
	content:none !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 5px;
}
.display tbody tr td{
    font-size: 13px;
}