/** HEADER **/

.all .navbar {
    margin-bottom: 0 !important;
    background: linear-gradient(to left, rgba(5, 5, 22, 2), rgba(58, 5, 100, 1));
}

.all .navbar .container-fluid {
    margin-top: 50px;
}

.all .navbar .container-fluid .navbar-collapse {
    float: right;
    padding-right: 70px;
}

.all .navbar .container-fluid .navbar-header .navbar-brand {
    padding-left: 60px;
}

.all .navbar .container-fluid .navbar-header .navbar-brand img {
    width: 96px;
    height: auto;
    margin-top: -45px;
}

.all .navbar .navbar-collapse .navbar-nav li a {
    color: #CFD8DC;
    font-weight: 500;
    text-decoration: none;
}

.all .navbar .navbar-collapse .navbar-nav li:hover a {
    border: 1px solid #6A1B9A;
    border-radius: 10px;
    text-decoration: none;
}

.all .navbar .navbar-collapse .navbar-nav .active-button a {
    border: 1px solid #6A1B9A;
    border-radius: 10px;
    text-decoration: none;
    color: #6A1B9A;
    background-color: #ECEFF1;
}

/**PRELOADER**/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

.preloader-wrapper .preloader {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
/**HOME - BODY*/

.content .container .row {
    margin: 20px;
}

.content .container .row h1 {
    color: #3A0564;
}

.content .container .row p {
    padding-top: 10px;
    font-size: 20px;
}

.content .container .row img {
    padding: 5%;
    width: 100%;
}


/*Precomputed - Table*/

.button-in-table {
    width: 40px !important;
}

.graph-th {
    width: 40% !important;
}

#example tbody tr td .genome-in-table {
    position: relative;
    display: block;
    width: 99%;
    height: 15px;
    background-color: #8BC34A;
    opacity: 0.6;
}

.genome-cell {
    padding-top: 5px !important;
}

.iconned-td {
    font-size: 12px !important;
}

.highcharts-credits {
    display: none;
}

.dtr-details,
.dtr-details li {
    width: 100%;
}

.dtr-data {
    display: inline-block;
    padding-left: 20px;
    width: 92%;
}


/*Bootstrap-Tabs*/


/* Tabs panel */

.tab-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
}

.tab-group>li {
    position: relative;
    float: left;
}

.tab-group>li.active>a,
.tab-group>li.active>a:hover,
.tab-group>li.active>a:focus {
    background-color: #157fcc;
    color: #fff;
}

.tab-group>li>a {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
}

.tab-group>li>a:hover {
    border-radius: 3px;
    background-color: #E3F2FD;
}

.tab-group li+li {
    margin-left: 2px;
}


/*Material button*/

.button {
    display: inline-block;
    float: right;
    margin: 10px;
    padding: 0.9em 2em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(209, 96, 42, 0.5);
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    box-shadow: 1px 6px 15px rgba(209, 96, 42, 0.8);
    text-decoration: none;
}

.blue {
    background-color: #03A9F4;
    color: white;
}

.ripple {
    position: absolute;
    background: rgba(209, 96, 42, .25);
    border-radius: 100%;
    transform: scale(0.2);
    opacity: 0;
    text-decoration: none;
    pointer-events: none;
    -webkit-animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    animation: ripple .75s ease-out;
}

.form-inline h2 {
    display: inline-block;
    color: rgb(209, 96, 42);
}

.form-inline h3 {
    display: inline-block;
    color: #007383;
}

@-webkit-keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-moz-keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}


/** Tabs **/

.nav-tabs {
    border-bottom: 1px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0 0;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 0 20px 20px 20px;
    height: 150px;
}

.card {
    background: #FFF none repeat scroll 0 0;
    margin-bottom: 15px;
}


/*Material Input Design*/

.contact .form-control {
    border-radius: 0;
    border: none;
    width: 100%;
    border-bottom: 4px solid #00BCD4;
    box-shadow: none;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input:focus {
    outline: none;
}

.material-label {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.text-area-label {
    top: 75%;
}

input:focus~label {
    top: -10px;
    font-size: 12px;
    color: #96c93d;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 4px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #96c93d;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.text-group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}

.text-group textarea:focus~.input-label,
.text-group textarea:valid~.input-label,
.text-group textarea.form-file~.input-label,
.text-group textarea.has-value~.input-label {
    font-size: 14px;
    ;
    color: gray;
    top: -1rem;
    left: 0;
}

.text-group textarea:focus~.input-label {
    color: #96c93d;
}

.text-group textarea:focus~.bar::before {
    width: 100%;
    left: 0;
}

.text-group {
    position: relative;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/*Retrive Analysis Modal*/
.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }

  .loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
  }

  .loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  }

  .loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
  }

  .loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }

  .login-help{
    font-size: 12px;
  }
